body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight : normal;
    text-rendering: optimizeLegibility;
    /*color: #2a2f33; */
    color: white;
    background: #232325;
    font-weight: 600;
}

/* Main */
#app {
    margin: auto;
    width: 60%;
}

.title {
    font-weight: 600;
    font-size: 2.5rem;
}

.section-title {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.2rem; /* ram */
}

footer a {
    color: gold;
}

/* Media */
@media screen and (min-width: 1200px) {
    #app { width: 40% }
}

/* Settings */

/* Subscribed anime */
.section-special {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subs {
}

.sub {
    display: flex;
    justify-content: space-between;
    background: #39393a;
    margin: 10px 5px;
    border-top-left-radius: 3px;
    border-bottom: 3px solid #686868;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: 200ms;
    font-weight: 600;
    user-select: none;
}

.sub:hover {
    background: #333333;   
}

.sub-title {
    padding: 10px 15px;
}

.sub-status {
    padding: 10px 15px;    
    transition: 200ms;
    border-top-right-radius: 3px;
    background: #686868;
}

.sub.active {
    border-bottom: 3px solid #3182b1;
}
.sub-status.active {
    background: #3182b1;
}

/* General options */
.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.option-name {

}

.option-button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.option-button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.option-button {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background: #39393a;
    width: 60px;
    text-align: center;
    transition: 200ms;
    user-select: none;
}

input.option-button {
    border: none;
    outline: none;
    color: white;
    font: inherit;
    border-radius: 3px;
    cursor: text;
    -moz-appearance: textfield;
}

.section-special > .only {
    font-size: 1rem;
}

.only {
    border-radius: 3px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.option-button.active {
    background: #3182b1;
}

.illegal {
    padding: 8px;
    margin: 5px 0;
    background: #ca3636;
    border-radius: 3px;
}

/* cool spinner from loading.io */
.lds-dual-ring {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 48px;
    height: 48px;
    margin: 6px;
    background: #333333;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #c2c2c2 transparent #c2c2c2 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}